{% extends "base.html" %}

{% block title %} Forget Password?{% endblock title%}

{%block navbar%}{%endblock navbar%}

{%block main%}
{% if form.errors %}
{% for field,error in form.errors.items %}
<h3 class="error-message text-center">{{error|striptags}}</h3>
{% endfor %}
{% endif %}
<h1 class="lightblue mb-3 text-center">Forget Password?</h1>
<h3 class="mb-3 text-center">Don'y worry, please enter your username here:</h3>
<form class="form-signin text-center my-3" method = "POST" action = "{% url 'forget_password' %}" > {% csrf_token %}
    <label for="username" class="sr-only">Username</label>
    <input type="text" id="username" name = "username" class="form-control mb-3" placeholder="Username" required autofocus>

    <button class="btn btn-lg white btn-block mb-4 lightblue-background" type="submit">Submit</button>

    <div class="login">
        <a href="{% url 'login' %}">
            Get back to Login Page
        </a>
    </div>
</form>
        
{%endblock main%}