{% extends "base.html" %}

{% block title %} Change Password {% endblock title%}

{%block navbar%}{%endblock navbar%}

{% block main %}
{% if form.errors %}
{% for field,error in form.errors.items %}
<h3 class="error-message text-center">{{error|striptags}}</h3>
{% endfor %}
{% endif %}
<h1 class="lightblue mb-3 text-center">Enter Your New Password Here</h1>
<form class="form-signin text-center" method = "POST" action = "{% url 'new_password' %}" > {% csrf_token %}
    <input type="hidden" name="username" value="{{username}}">

    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" name = "password1" class="form-control" placeholder="Password" required>

    <label for="confirmPassword" class="sr-only">Confirm Password</label>
    <input type="password" id="confirmPassword" name = "password2" class="form-control" placeholder="Confirm Password" required>

    <button class="btn btn-lg white btn-block mb-4 lightblue-background" type="submit">Confirmed Changes</button>
    
    <div class="login">
        <a href="{% url 'login' %}">
            Get back to Login Page
        </a>
    </div>
</form>
{% endblock main %}
  