{% extends "base.html" %}

{% block title %} Reset Password Email Sent{% endblock title%}

{%block navbar%}{%endblock navbar%}

{%block main%}
<h1 class="lightblue mb-3">Please check your email to change your password</h1>
<h4 class="mb-3">Dear user,</h4>
<h4 class="mb-3">A link to reset your password has been sent to your email address {{email}}.</h4>
<h4 class="mb-3">Please take a look and change your password.</h4>
<h4 class="error-message mb-3">The link would expire after one click.</h4>
<h4 class="error-message mb-3">You cannot change your password if your account is not activated. Please make sure
    you have confirmed your email and finish the registration process before reseting your password.</h4>
<h4 class="mb-3">Thank you for choosing highlightUp!</h4>
<h4>Best,</h4>
<h4 class="mb-3">HighlightUp Team</h4>
<a href="{% url 'login' %}">Get back to Login Page</a>
{%endblock main%}